# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/

# Environment variables and secrets
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

secret.txt